# Can ignore specific files
.DS_Store
pocket.dic

# Use wildcards as well
*~
*.swp
*.exe
*.EXE
*.map
*.MAP
*.obj
*.db
*.lst
*.html
*.zip
*.bmp

# Can also ignore all directories and files in a directory.
tmp/**/* 
